The Information of Builder is as follows:<br>
<h1>Builder Name:</h1> <%= @builder.bname %>
<h1>Builder Location:</h1> <%= @builder.location %>
<h1>Builder Project Details:</h1> <%= @builder.project %>
<h1>Builder BHK Details:</h1> <%= @builder.bhk_details %>
